<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
</head>
<body>
<h1 th:text="${room.getName()}"></h1>
<div class="content">
    <ul class="chat_box" th:each="message : ${messages}">
        <li>[[${message.messageType}]]_[[${message.message}]]([[${message.accountDto.nickname}]])2</li>
    </ul>
    <ul class="chat_box" id="msgArea">
    </ul>
    <input type="text" id="msg" class="form-control">
    <button type="button" id="btnSend">보내기</button>
</div>
<script th:inline="javascript">
    $(document).ready(function () {
        var roomId = [[${room.id}]];
        var username = [[${account.nickname}]];
        var token = "Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzUxMiJ9.eyJzdWIiOiJ0ZXN0MUB0ZXN0LmNvbSIsImlkIjoyLCJleHAiOjE2NDE4MDQyOTgsInVzZXJuYW1lIjoidGVzdDFAdGVzdC5jb20ifQ.TiXJcVWsjxFxJbPl_YntvtGhg21-1XV-kT2if8ht1JHaf7tO7LRQvBOkf0IjpE-tZklXCRgIx-4jJ38cuAZa7g";

        var sock = new SockJS("/stomp");
        var client = Stomp.over(sock);

        client.connect({Authorization:token}, function () {
            client.subscribe('/sub/chat/room/' + roomId, function (chat) {
                var content = JSON.parse(chat.body);
                $("#msgArea").append('<li>' + content.messageType + '_' + content.message + '(' + content.writer + ')</li>')
            });
            client.send('/pub/chat/enter', {}, JSON.stringify({roomId: roomId, writer: username}));
        });

        $("#btnSend").click(function () {
            var message = document.getElementById("msg");
            client.send('/pub/chat/message', {}, JSON.stringify({roomId: roomId, message: message.value, writer: username}));
            message.value = '';
        });
    });
</script>
</body>
</html>